<header>
  <nav class="nav">
    <div class="nav-links">
      <h2><a class="logo" href="/">{{ site.title  }}</a></h2>
    </div>
    <div class="nav-links">
      <a class="btn btn-primary" href="/">Homepage</a>
      <a class="btn btn-primary" href="/anotherpage">Another page</a>
    </div>
    <div class="nav-links">
      <a class="btn btn-primary" href="https://github.com/rhaastrake" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a class="btn btn-primary" href="https://www.linkedin.com/in/michele-garofalo-1966302b6/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </div>
  </nav>
</header>