<header>
  <nav class="nav">
    <div class="nav-links">
      <h2><a class="logo" href="/">{{ site.title  }}</a></h2>
    </div>
    <div class="nav-links">
      <a class="btn btn-primary" href="/">Homepage</a>
      <a class="btn btn-primary" href="/anotherpage">Another page</a>
    </div>
    <div class="nav-links">
      <a class="btn btn-primary" href="/" target="_blank" rel="noopener noreferrer">ExtraBtn1</a>
      <a class="btn btn-primary" href="/" target="_blank" rel="noopener noreferrer">ExtraBtn2</a>
    </div>
  </nav>
</header>