//==========================
// CSS RULES FOR FOOTER
//==========================

// Getting root rules from _root.scss
@use 'root' as root;

footer {
    min-height: root.$footer-min-height;
    max-height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}