//==========================
// CSS RULES FOR HEADER
//==========================

// Getting root rules from _root.scss
@use 'root' as root;

header {
    height: root.$header-height;
    width: 100%;
    background-color: root.$primary;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: root.$header-padding-top;
    padding-bottom: root.$header-padding-bottom;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1300px;
    width: 100%;
}

.nav a {
    padding: 10px;
    border: none;
}

.nav-links{
    display: flex;
    gap: 15px;
}

.logo {
    text-align: start;
}