// Getting root rules from _root.scss
@use "../root" as root; // Usage: root.$value-name

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}