---
title: "404"
permalink: "404.html"
layout: base.njk
---

{# To keep order, create a new component in components/ and include it here #}
{% include "not-found.njk" ignore missing %}

{# Markdown also lives in components/, but the path is full, from the project root #}
{# {% renderFile "example.md" | markdownPath %} #}