---
title: "homepage"
permalink: "/"
layout: base.njk
---

{# To keep order, create a new component in components/ and include it here #}
{% include "welcome.njk" ignore missing %}

{# Markdown files live in components/ too. Pass the data the file needs #}
{#
<div class="markdown-body">
    {% renderFile "your-file.md" | markdownPath, { site: site }, "md" %}
</div>
#}