---
title: "homepage"
permalink: "/"
layout: base.njk
---

{# To keep order, create a new component in components/ and include it here #}
{% include "welcome.njk" ignore missing %}

{# Markdown also lives in components/, but the path is full, from the project root #}
{% renderFile "example.md" | markdownPath, { site: site } %}